
.title{
    font-family:cursive;
    font-size: 90px;
    font-style: bold;
    
    text-align: center;
    margin:0
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
}

.word-container{
    display: grid;
}

.vs-word{
    font-family:cursive;
    font-size: 150px;
    font-style: bold;
    text-align: center;
    grid-row: 2 / 3;

}

.result{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-size: 40px;
    font-family: cursive;
    font-style: oblique;
    text-align: center;
}

